[submodule "libs/libplist"]
	path = libs/libplist
	url = git@github.com:Chronic-Dev/libplist.git
[submodule "libs/usbmuxd"]
	path = libs/usbmuxd
	url = git@github.com:Chronic-Dev/usbmuxd.git
[submodule "libs/libimobiledevice"]
	path = libs/libimobiledevice
	url = git@github.com:Chronic-Dev/libimobiledevice.git
[submodule "libs/libxml2"]
	path = libs/libxml2
	url = git@github.com:Chronic-Dev/libxml2.git
[submodule "libs/libtasn1"]
	path = libs/libtasn1
	url = git@github.com:Chronic-Dev/libtasn1.git
[submodule "libs/libgcrypt"]
	path = libs/libgcrypt
	url = git@github.com:Chronic-Dev/libgcrypt.git
[submodule "libs/libgpg-error"]
	path = libs/libgpg-error
	url = git@github.com:Chronic-Dev/libgpg-error.git
[submodule "libs/libusb"]
	path = libs/libusb
	url = git@github.com:Chronic-Dev/libusb.git
